@model IEnumerable<QuizeManagement.Models.ViewModel.QuestionModel>
@{ Layout = "~/Views/Shared/_LayoutUserPage.cshtml"; }

<div class="confirmation-page container-fluid w-25 mt-5">
    <div class="card d-block info-card">
        <div class="card">
            <h1>Quiz Confirmation</h1>
            <p>This quiz has the following details:</p>
            <ul>
                <li>Total number of questions: 5</li>
                <li>All questions are mandatory</li>
                <li>Number of options per question: 4</li>
                <li>You cannot go back once you have answered a question</li>
            </ul>
            <a class="btn btn-outline-primary" id="start-quiz">Start Quiz</a>
        </div>
    </div>

    <div class="card quiz-card d-none">
        <div id="QuestionContainer" class="container-fluid">

        </div>
    </div>
</div>


<script type="text/javascript">
    $(document).ready(function () {

        $("#start-quiz").on("click", function () {
            console.log("hello")

            var id = 1
            console.log(id)
            $.ajax({
                url: "/User/ConfirmStartQuiz?id=" + id,
                method: "GET",
                datatype: "html",
                success: function (result) {
                    $("#QuestionContainer").html(result)
                }
            })
        })


    })
</script>

